@charset "UTF-8";
/* CSS Document */



body{
	background: #0B4902;
	color: whitesmoke;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin: 0;
	padding: 0;
	font-size: 20px; 
	line-height: 150%;
}

a {
	color: lightgray;
}
a:hover {
	color: lightskyblue;
}

img {
	border: thick white solid;
	width: 300px;
}
img:hover {
	border-radius: 15px;
	transform: scale(105%);
}

.wrapper {
	width: 972px;
	margin-left: auto;
	margin-right: auto;
	border: 2px white solid;
	background: #386832;
	padding: 20px 40px;
}

header {
	background: #0B2A00;
	padding: 20px 40px;
}

nav.page-nav a {
	text-decoration: none;
}

nav.site-nav a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	font-size: 40px;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
.site-nav {
	display: flex;
	flex-direction: row; 
	justify-content: flex-start;
	align-items: center;
	column-gap: 32px;
}

nav.site-nav a:hover{
	color: greenyellow;
	background: #0E6404;
}

.gallery-grid {
	display: grid;
	grid-template-columns: auto auto auto; 
	grid-row-gap: 20px; 
	justify-items: center; 
	align-items: start;
	justify-content: space-between; 
}

.gallery-item {
	width: 300px;
	text-align: center;
}


.gallery-grid p {
	margin: .25em 0;
	line-height: 135%; 
}

thead {
	background: #002D00;
	
}
i.fa-explosion {
	color:red;
	font-size: 40px;
}
table {
	background: #1E6C27;
	text-align: center;
	border: 5px #002D00 solid;
	width: 100%;
	border-collapse: collapse;
}

tr {
	font-size: 15px;
}

tr:nth-child(even) {
	background: #05A63B;
}

i {
	color: black;
	font-size: 25px;
	padding-top: 5px;
}
i.fa-trash {
	color: #9D9D9D;
}
i.fa-fire-flame-curved {
	color: #F19900;
}
i.fa-hammer {
	color:#6D4301;
}
i.fa-hand-holding-heart {
	color:palevioletred;
}